<div class="container" style="background: url('/Images/simple-kanban.jpg') 50% 0 no-repeat; height: 540px; width: 100%">
</div>
<div class="row" ng-controller="AppCtrl">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Poczekalnia</h3>
            </div>
            <div class="panel-body">
                <div class="postit">
                    <dl class="list-inline">
                        <dt>Description:</dt>
                        <dd></dd>
                        <dt>Begin Date:</dt>
                        <dd></dd>
                        <dt>End Date:</dt>
                        <dd></dd>
                        <dt>Owner:</dt>
                        <dd></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">W Realizacji</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Gotowe</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>